*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #EEF2F7;
    font-family: Helvetica;
}

.navbar{
    display: flex;
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px deepskyblue solid;
}

.logo{
    margin-left: 5%;
    margin-top: auto;
    margin-bottom: auto;
}

.logo img{
    display: flex;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.btn-nav{
    position: absolute;
    display: flex;
    width: 100%;
    flex-shrink: 0;
    justify-content: center;
    margin-top: 100px;
    z-index: 69;
}

.btn-nav li{
    display: inline;
    list-style: none;
}

.btn-nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 0.5em;
    font-weight: bolder;
}

.btn-nav a:hover{
    color: deepskyblue;
}

.login{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 5%;
    margin-top: auto;
    margin-bottom: auto;
}

.login-btn{
    background: cornflowerblue;
    width: 100px;
    height: 40px;
    color: #ffffff;
    border: 0;
    cursor: pointer;
    font-size: 25px;
}

.main-bg{
    background-image: url("../image/marm.jpg");
    height: 800px;
    background-repeat: no-repeat;
    background-position: center center;
}

.main-bg p{
    display: flex;
    position: relative;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 70px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + -50px));
}

.block{
    width: 60%;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
    min-width: 1000px;

    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12)
}

.info-block{
    font-size: 50px;
    text-align: center;
    padding: 50px;
}

.boxes{
    display: flex;
}

.box-p{
    display: flex;
    width: 40%;
    background-color: rgba(106, 163, 162, 1);
}

.box-p p{
    font-size: 50px;
    margin: auto;

}

.box-img{
    width: 60%;
    position: relative;
}

.box-img img{
    width: 100%;
}

.box-img p{
    position: absolute;
    font-size: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    overflow: hidden;
}

footer{
    display: flex;
    margin-top: 2%;
    height: 70px;
    background-color: #ffffff;
    border-top: 3px rgba(106, 163, 162, 1) solid;
}

.company{
    margin: auto;
}
